<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mibh.mis.oilandgasrequest">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
            android:name=".Camera.CameraMain"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
            android:name=".Img_list"
            android:screenOrientation="portrait"
            android:label="รายการถ่ายภาพ"
            android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
            android:name=".GridPic"
            android:screenOrientation="portrait"
            android:label="รายการถ่ายภาพ"
            android:theme="@style/AppTheme.FullScreen">
        </activity>
        <!--<service android:name=".AllService.GetLocation" android:enabled="true"/>-->
    </application>

</manifest>
